<!doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
      <title>Admin</title>
      <link rel="shortcut icon" href="/dist/img/favicon.ico" />
      {{#if toggleProdSettings}}
        <link rel="stylesheet" href="/dist/css/admin.min.4e9d49b0c1d887856fb4f705a53b40eb.css" type="text/css" />
      {{else}}
        <link rel="stylesheet" href="/css/admin.css" type="text/css" />
      {{/if}}
  </head>
  <body>
      {{> admin/sidebar}}
      <div id="main" class="admin">
        {{{ body }}}
      </div>
      {{> admin/require_admin_conf}}
  </body>
</html>