<!doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
      {{#if toggleProdSettings}}
        {{#if isAdmin}}
          <link rel="stylesheet" href="/dist/css/admin.min.4294a9d2c6b07950b76d19cab2871825.css" type="text/css" />
        {{else}}
          <link rel="stylesheet" href="/dist/css/garhammar.min.743e851a88d4bc81f67f5efd20281968.css" type="text/css" />
        {{/if}}
      {{else}}
        {{#if isAdmin}}
          <link rel="stylesheet" href="/css/admin.css" type="text/css" />
        {{else}}
          <link rel="stylesheet" href="/css/garhammar.css" type="text/css" />
        {{/if}}
      {{/if}}
      <title>Garhammar</title>
      <link rel="shortcut icon" href="/dist/img/favicon.ico" />
  </head>
  <body>
      {{> site/layouts/sidebar}}
      <div id="main">
        {{{body}}}
      </div>
      {{> require_conf}}
  </body>
</html>