<nav id="sidebar" class="sidebar js-component" data-component="sidebar">

  <ul class="clean-list">
    <li>
      <a href="/" title="Blog">
        <span class="icon icon-chat"></span> <span class="not-xs">Blog</span>
      </a>
    </li>
    <li>
      <a href="/me" title="Me">
        <span class="icon icon-male-symbol"></span> <span class="not-xs">Me</span>
      </a>
    </li>
    <li>
      <a href="/code" title="Code">
        <span class="icon icon-cube"></span> <span class="not-xs">Code</span>
      </a>
    </li>
    <li>
      <a href="/code" title="Pictures">
        <span class="icon icon-camera"></span> <span class="not-xs">Pics</span>
      </a>
    </li>
    <li>
      <a href="/styles" title="Styleguide">
        <span class="icon icon-rules"></span> <span class="not-xs">Styles</span>
      </a>
    </li>
    <!--li>
      <a href="/tables" title="Graphs">
        <span class="icon icon-bars"></span> <span class="not-xs">Graphs</span>
      </a>
    </li-->
  </ul>

</nav>