<nav id="sidebar" class="{{#if hideSidebar}}hide{{/if}} sidebar js-component" data-component="sidebar">

  <ul class="clean-list">
    <!--li>
      <a href="/" title="Blog">
        <span class="icon icon-chat"></span> <span class="menu-link">Blog</span>
      </a>
    </li--><li>
      <a href="/site" title="Site">
        <span class="icon icon-male-symbol"></span> <span class="menu-link">Site</span>
      </a>
    </li><li>
      <a href="/code" title="Code">
        <span class="icon icon-cube"></span> <span class="menu-link">Code</span>
      </a>
    </li><li>
      <a href="/pics" title="Pictures">
        <span class="icon icon-camera"></span> <span class="menu-link">Pics</span>
      </a>
    </li><li>
      <a href="/styles" title="Styleguide">
        <span class="icon icon-rules"></span> <span class="menu-link">Styles</span>
      </a>
    </li>
    <!--li>
      <a href="/tables" title="Graphs">
        <span class="icon icon-bars"></span> <span class="not-xs">Graphs</span>
      </a>
    </li-->
  </ul>

</nav>