<h1>Home</h1>

<h2>h2 test ers</h2>

<h3>fifdkc erdo</h3>

<div style="margin: 40px 0">
    <svg style="
    width: 42px;
    height: 61px;
">
    <line x1="30" x2="30" y1="50" y2="60" stroke="black" fill="transparent" stroke-width="2"/>
    <line x1="29" x2="39" y1="60" y2="60" stroke="black" fill="transparent" stroke-width="2"/>
    <path d="M30 30 C 48 40, 41 50, 30 60" stroke="black" fill="transparent" stroke-width="2"/>
    <circle cx="20" cy="20" r="20" fill="black"/>
    <text x="13" y="29" fill="white">?</text>

    </svg>
</div>


<div class="tabs not-xs js-tabs-large js-component" data-component="tabs">
    <ul class="nav-four">
        <li>
            <a class="active js-tabs-link" href="" data-index="0">Pie chart</a>
        </li><li>
            <a class="js-tabs-link" href="" data-index="1">Maps</a>
        </li><li>
            <a class="js-tabs-link" href="" data-index="2">Line charts</a>
        </li><li>
            <a class="js-tabs-link" href="" data-index="3">Bar charts</a>
        </li>
    </ul>
    <div class="tabs-content js-tabs-content">
        <p>
          1. Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
        </p>
    </div>
    <div class="tabs-content hide js-tabs-content">
        <p>
          2. Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
        </p>
    </div>
    <div class="tabs-content hide js-tabs-content">
        <p>
          3. Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
        </p>
    </div>
    <div class="tabs-content hide js-tabs-content">
        <p>
          4. Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
        </p>
    </div>
</div>



<div class="tabs xs-only">
    <div class="js-tabs-wrapper">
        <a class="tabs-first js-tabs-link" href="">Pie chart<span class="pull-right icon icon-arrow-down"></span></a>
        <div class="tabs-content hide js-tabs-content">
            <p>
              1. Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
            </p>
        </div>
    </div>

    <div class="js-tabs-wrapper">
        <a class="js-tabs-link" href="">Pie chart<span class="pull-right icon icon-arrow-down"></a>
        <div class="tabs-content hide js-tabs-content">
            <p>
              2. Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
            </p>
        </div>
    </div>

    <div class="js-tabs-wrapper">
        <a class="js-tabs-link" href="">Pie chart<span class="pull-right icon icon-arrow-down"></a>
        <div class="tabs-content hide js-tabs-content">
            <p>
              3. Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
            </p>
        </div>
    </div>

    <div class="js-tabs-wrapper">
        <a class="js-tabs-link" href="">Pie chart<span class="pull-right icon icon-arrow-down"></a>
        <div class="tabs-content hide js-tabs-content">
            <p>
              4. Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok. Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
            </p>
        </div>
    </div>
</div>










<div class="red lighter box"></div>
<div class="red box"></div>
<div class="red darker box"></div>
<div class="blue lighter box" style="background-color:#94EAF1;"></div>
<div class="blue box" style="background-color:#2bacb8;"></div>
<div class="blue darker box" style="background-color:#196A72;"></div>
<style>
button {
  font-family: "Oswald",sans-serif;
background-color: #94EAF1;
border: solid 3px #2bacb8;
color: #196A72;
padding: 3px 15px;
border-radius: 16px;
display: inline-block;
text-decoration: none;
outline: none;
-webkit-transition: background-color 0.4s;
-moz-transition: background-color 0.4s;
-ms-transition: background-color 0.4s;
-o-transition: background-color 0.4s;
transition: background-color 0.4s;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-weight: 400;
cursor: pointer;
}
</style>
<button>Skicka</button>

<div style="
    vertical-align: middle;
    margin-left: 40px;
    margin-top: 40px;
    border: 3px solid #6ebe54;
    width: 400px;
    color: #6ebe54;
    /* font-weight: bold; */
    /* padding: 3px 15px; */
    border-radius: 24px;
    /* background-color: #C3FFA1; */
">
  <span class="icon icon-check" style="
    vertical-align: middle;
    padding: 4px;
    font-size: 30px;
    background-color: #6ebe54;
    border-radius: 20px;
    display: inline-block;
    color: #fff;
    margin: -3px;
    font-weight: 400;
"></span> <span class="not-xs" style="
    margin-left: 10px;
    color: #5BA244;
">HOME</span>
<span style="
    float: right;
    margin: 4px;
    color: #2bacb8;
    text-align: right;
">Close<span class="icon icon-cross" style="
    font-size: 24px;
    color: #2bacb8;
    /* margin: 4px 4px; */
    /* float: right; */
                                                
    margin-left: 5px;
"></span></span>
</div>



<div style="
    vertical-align: middle;
    margin-left: 40px;
    margin-top: 40px;
    border: 3px solid #6ebe54;
    width: 400px;
    color: #6ebe54;
    /* font-weight: bold; */
    /* padding: 3px 15px; */
    border-radius: 24px;
    /* background-color: #C3FFA1; */
">
  <span class="icon icon-exclamation" style="
    vertical-align: middle;
    padding: 4px;
    font-size: 30px;
    background-color: #6ebe54;
    border-radius: 20px;
    display: inline-block;
    color: #fff;
    margin: -3px;
    font-weight: 400;
"></span> <span class="not-xs" style="
    margin-left: 10px;
    color: #6ebe54;
">HOME</span>
<span style="
    float: right;
    margin: 4px;
    color: #2bacb8;
    text-align: right;
">Close<span class="icon icon-cross" style="
    font-size: 24px;
    color: #2bacb8;
    /* margin: 4px 4px; */
    /* float: right; */
                                                
    margin-left: 5px;
"></span></span>
</div>