<h2>Maps</h2>
<div class="tabs js-tabs-wrapper js-component" data-component="tabs">
  <ul class="tabs-large nav-two">
    <li>
        <a class="js-tabs-link" href="" data-runtime-template="_code_maps_route" data-content-id="0">d3 - svg</a>
    </li><li>
        <a class="active js-active js-tabs-link" href="" data-runtime-template="_code_maps_google" data-content-id="1">google</a>
    </li>
  </ul>

  <a class="tab js-tabs-link" href="" data-runtime-template="_code_maps_route" data-content-id="0">d3 - svg<span class="pull-right icon icon-arrow-down"></span></a>  
  <div class="hide tabs-content js-tabs-content">
    <div class="spinner"></div>
  </div>
  
  <a class="active js-active tab tabs-last js-tabs-link" href="" data-runtime-template="_code_maps_google" data-content-id="1">Google<span class="pull-right icon icon-arrow-up"></span></a>
  <div class="tabs-content tabs-content-last js-tabs-content">
    <div class="spinner"></div>
  </div>
</div>