<h1>Pictures</h1>
<div class="pics js-component" data-component="pics/pics" data-template="_pic">
  <div class="border-box grey bottom-20">
    Integer dapibus feugiat augue, id dapibus augue tristique in. Suspendisse elit orci, euismod non nulla ut, sagittis luctus nulla. Cras mattis est eget leo lacinia adipiscing. Nam facilisis sem massa, eget dignissim mi rhoncus in. Aliquam laoreet scelerisque leo sed luctus.
  </div>
  <div class="not-xs bottom-20">
    <form>
      <div class="h3">View</div>
      <label>
        <input type="radio" name="gallery" checked="checked"/> Gallery
      </label>
      <label class="left-10">
        <input type="radio" name="gallery"/> Overview
      </label>
    </form>
  </div>
  <div class="js-pics"></div>
</div>