<div class="site">
  <h1>The Greatest Site of All Times</h1>
  <div class="intro"> 
    <p>This is the shape of web to come. This is where Google Pagespeed goes to pray. This is perfection undying. If <a href="http://en.wikipedia.org/wiki/Steve_Wozniak" target="_blank">Steve "Wizard of Woz" Wozniak</a> and <a href="http://sv.wikipedia.org/wiki/Michelangelo" target="_blank">Michelangelo</a> had a baby and threw gin bottles at it this is what it would be like. If God was a web site it would refer to this site as a source of inspiration.
    <br/>Every event listener, every border-radius soaked in brilliance.</p>
    <p>There never was a site like this. How could there every be?
    </p>
  </div>

  <div class="tabs js-tabs-wrapper js-component top-40" data-component="tabs">
    <ul class="tabs-large nav-three js-tabs-large">
      <li>
          <a class="active js-active js-tabs-link" href="" data-content-id="0">Site</a>
      </li><li>
          <a class="js-tabs-link" href="" data-content-id="1">Me</a>
      </li><li>
          <a class="js-tabs-link" href="" data-content-id="2">Background</a>
      </li>
    </ul>

    <a class="active js-active tab js-tabs-link" href="" data-content-id="0">Site<span class="pull-right icon icon-arrow-down"></span></a>  
    <div class="tabs-content js-tabs-content">
      <h3>Tools of the trade</h3>
      <ul class="clean-list">
        <li class="top-5"><a href="http://nodejs.org/" target="_blank">Nodejs</a></li>
        <li class="top-5"><a href="http://requirejs.org/" target="_blank">Requirejs</a></li>
        <li class="top-5"><a href="http://handlebarsjs.com/" target="_blank">Handlebars</a></li>
      </ul>
    </div>
    
    <a class="tab js-tabs-link" href="" data-content-id="1">Me<span class="pull-right icon icon-arrow-down"></span></a>
    <div class="hide tabs-content js-tabs-content">
      <div class="spinner"></div>
    </div>

    <a class="tab tabs-last js-tabs-link" href="" data-content-id="2">Background<span class="pull-right icon icon-arrow-down"></span></a>
    <div class="hide tabs-content tabs-content-last js-tabs-content">
      <div class="spinner"></div>
    </div>
  </div>
</div>