<div class="styles">
  <h1>Styles</h1>

  <div class="row">
    <div class="col">     
      <h3>Typography</h3>

      <div class="desc">
        <span class="h1">Header</span>
        
        <div class="h2">Second header</div>

        <div class="h3">Third header</div>
        <div class="top-10">
          Lorem ipsum dolor sit amet, <a class="text-link" href="">consectetur adipisicing</a> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </div>

        <div class="emphasize top-10">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="small top-10">
          Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
        </div>
        <div class="top-10">
          <a href="http://www.alessioatzeni.com/metrize-icons/" title="Metrize icons" target="_blank">
            <span class="icon icon-waves"> </span><span class="text-link">Metrize icons</span>
          </a>
        </div>
        <div class="border-box grey top-20">
          Google fonts:
            <div class="top-10">
              <a class="text-header text-link" href="http://www.google.com/fonts/specimen/Oswald" target="_blank">
                Oswald
              </a>
            </div>
            <div class="top-10">
              <a class="text-link" href="https://www.google.com/fonts/specimen/Varela+Round" target="_blank">
                Varela Round
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col first">
      
      <h3>Tabs</h3>

      <div class="desc">


        <div class="tabs js-tabs-wrapper js-component" data-component="tabs">
          <ul class="tabs-large nav-four js-tabs-large">
              <li>
                  <a class="js-tabs-link" href="" data-runtime-template="_style_first" data-content-id="0">First</a>
              </li><li>
                  <a class="active js-active js-tabs-link" href="" data-runtime-data="true" data-runtime-template="_style_last" data-content-id="1">Last</a>
              </li><li>
                  <a class="js-tabs-link" href="" data-runtime-template="_style_and" data-content-id="2">and</a>
              </li><li>
                  <a class="js-tabs-link" href="" data-runtime-data="true" data-runtime-template="_style_always" data-content-id="3">Always</a>
              </li>
          </ul>

          <a class="tab js-tabs-link" href="" data-runtime-template="_style_first" data-content-id="0">First<span class="pull-right icon icon-arrow-down"></span></a>  
          <div class="hide tabs-content js-tabs-content" data-content-id="0">
            <div class="spinner"></div>
          </div>
          
          <a class="tab active js-active js-tabs-link" href="" data-runtime-template="_style_last" data-content-id="1">Last<span class="pull-right icon icon-arrow-down"></span></a>
          <div class="tabs-content js-tabs-content" data-content-id="1">
            <div class="spinner"></div>
          </div>

          <a class="tab js-tabs-link" href="" data-runtime-template="_style_and" data-content-id="2">and<span class="pull-right icon icon-arrow-down"></span></a>  
          <div class="hide tabs-content js-tabs-content" data-content-id="2">
            <div class="spinner"></div>
          </div>
          
          <a class="tab tabs-last js-tabs-link" href="" data-runtime-template="_style_always" data-content-id="3">Always<span class="pull-right icon icon-arrow-down"></span></a>
          <div class="hide tabs-content tabs-content-last js-tabs-content" data-content-id="3">
            <div class="spinner"></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col first">
      <h3>Tags</h3>
      <div class="desc">
        <ul class="tags top-10 clean-list horizontal">
          <li>
            <span class="tag right-10">First</span>
          </li>
          <li>
            <span class="tag right-10">Last</span>
          </li>
          <li>
            <span class="tag right-10">and</span>
          </li>
          <li>
            <span class="tag">Always</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col first">
      
      <h3>Buttons</h3>

      <div class="desc">
        <div class="inline-block text-top">
          <div>
            <button class="button">Send</button>
          </div>
          <div class="top-10">
            <button class="button disabled">Send</button>
          </div>
        </div>
        <ul class="buttons vertical left-10">
          <li>
            <a href="">&lt;&lt;</a>
          </li><li>
            <a href="">75</a>
          </li><li class="active">
            <a href="">76</a>
          </li><li>
            <a href="">77</a>
          </li><li>
            <a href="">&gt;&gt;</a>
          </li>
        </ul>
        <ul class="buttons horizontal text-top left-10 not-xs">
          <li>
            <a href="">&lt;&lt;</a>
          </li><li>
            <a href="">75</a>
          </li><li class="active">
            <a href="">76</a>
          </li><li>
            <a href="">77</a>
          </li><li>
            <a href="">&gt;&gt;</a>
          </li>
        </ul>


      </div>

    </div>
  </div>


  <div class="row">
    <div class="col">
      <h3>Alerts</h3>
      <div class="desc">
        <div>
          {{> _alert firstAlert }}
        </div>
        <div class="top-10">
          {{> _alert secondAlert }}
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <h3>Inputs</h3>
      <div class="desc">
        <div class="input">
          <input type="text" placeholder="text"/>
        </div>
        <div class="input top-10">
          <input disabled="disabled" type="text" placeholder="disabled"/>
        </div>
        <div class="input top-10">
          <textarea placeholder="textarea"></textarea>
        </div>

        <div class="input top-10">
          <input class="error" type="text" placeholder="email"/>
          {{> _tooltip_error tooltipError}}
        </div>
        <div class="input top-10">
          <label>
            <input class="right-10" type="checkbox"/>One<br/>
          </label>
          <label>
            <input class="right-10" type="checkbox"/>Two<br/>
          </label>
          <label>
            <input class="right-10" type="checkbox"/>Three<br/>
          </label>
        </div>
        <div class="input top-10">
          <label>
            <input class="right-10" type="radio" name="r" checked="checked" />One<br/>
          </label>
          <label>
            <input class="right-10" type="radio" name="r"/>Two<br/>
          </label>
          <label>
            <input class="right-10" type="radio" name="r"/>Three<br/>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">     
      <h3>Tooltips</h3>

      <div class="desc">

        <div class="relative">

          <div class="abs-tooltip">
            <a class="icon icon-cross"></a>
            <div class="abs-tooltip-message">
                1. Maecenas eu sapien ligula. Aliquam tempor urna sit amet congue accumsan. Sed volutpat tellus erat, a lacinia dui tristique sed. Cras sem est, adipiscing eget leo et, iaculis tempor justo.
            </div>
            <svg class="abs-tooltip-arrow">
              <path d="M 2 29 L 2 38"></path>
              <path d="M 1 38 L 11 38"></path>
              <path d="M 2 8 Q 22 23 2 38"></path>
            </svg>
          </div>
          <div class="styles-tooltip top-20">
            Pellentesque<a class="abs-tooltip-icon active icon"></a> lectus felis, laoreet blandit elementum condimentum, scelerisque<a class="abs-tooltip-icon icon"></a> malesuada sapien.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">     
      <h3>Colors</h3>

      <div class="desc">

        <div class="color grey-1"></div>
        <div class="color grey-2"></div>
        <div class="color grey-3"></div>
        <div class="color grey-4"></div>
        <div class="color grey-5"></div>
        <div class="color grey-6"></div>
        <div class="color grey-7"></div>
        <div class="color black"></div>
        <div class="color blue-lighter"></div>
        <div class="color blue"></div>
        <div class="color blue-darker"></div>
        <div class="color green-tabs"></div>
        <div class="color green-lighter"></div>
        <div class="color green"></div>
        <div class="color red-lighter"></div>
        <div class="color red"></div>

      </div>

    </div>
  </div>

</div>