{{#if toggleProdSettings}}
  <script data-main="/garhammar.js" src="/dist/js/requirejs.admin.min.e6cf018860faa30e2de39fae1f51993f.js"></script>
{{else}}
  <script>
    var require = {
      paths : {
        "handlebars"    : "libs/handlebars/handlebars.runtime",
        "smoothScroll"  : "libs/smooth-scroll/dist/js/smooth-scroll.min"
      },
      shim: {
        "handlebars" : {
          exports: 'Handlebars'
        },
        "smoothScroll" : {
          exports: 'smoothScroll'
        }
      }
    };
    var templatesName = 'templates/admin_templates';
  </script>
  <script data-main="/js/garhammar.js" src="/js/libs/requirejs/require.js"></script>
{{/if}}