<nav id="sidebar" class="sidebar js-component" data-component="sidebar">

  <ul class="clean-list">
    <li>
      <a href="/admin/blog" title="Blog">
        <span class="icon icon-chat"></span> <span class="not-xs">Blog</span>
      </a>
    </li>
    <li>
      <a href="/admin/users" title="Users">
        <span class="icon icon-male-symbol"></span> <span class="not-xs">Users</span>
      </a>
    </li>
    <li>
      <a href="/admin/pics" title="Pictures">
        <span class="icon icon-cube"></span> <span class="not-xs">Pics</span>
      </a>
    </li>
  </ul>

</nav>