{{#if toggleProdSettings}}
  <script>
    window.GoogleAnalyticsObject = 'ga';
    window.ga = { q: [['create', 'UA-51719559-1', 'garhammar.se'], ['send', 'pageview']], l: Date.now() };
  </script>
  <script data-main="/garhammar.js" src="/dist/js/requirejs.min.c5d97babc6dd8f00295d132e5345c348.js"></script>
{{else}}
  <script>
  var require = {
    paths : {
      "handlebars"    : "libs/handlebars/handlebars.runtime",
      "smoothScroll"  : "libs/smooth-scroll/dist/js/smooth-scroll.min",
      "d3"            : "libs/d3/d3",
      "topojson"      : "libs/topojson/topojson",
      "async"         : "libs/requirejs-plugins/src/async"
    },
    shim: {
      "handlebars" : {
        exports: 'Handlebars'
      },
      "smoothScroll" : {
        exports: 'smoothScroll'
      },
      "d3" : {
        exports: 'd3'
      },
      "topojson" : {
        exports: "topojson"
      }
    }
  };
  </script>
  <script data-main="/js/garhammar.js" src="/js/libs/requirejs/require.js"></script>
{{/if}}