<h1>Users</h1>

<div class="top-20 tabs js-component" data-component="tabs">
  <ul class="nav-two">
      <li>
          <a class="tab active js-active js-tab" href="" data-runtime-template="_admin_users_create" data-content-id="0">Create</a>
      </li><li>
          <a class="tab js-tab" href="" data-runtime-template="_admin_users_update" data-content-id="1">Update</a>
      </li>
  </ul>

  <div class="tab-content js-tab-content">
    <div class="spinner"></div>
  </div>
  
  <div class="hide tab-content js-tab-content">
    <div class="spinner"></div>
  </div>

</div>
