<h1>Users</h1>

<div class="top-20 tabs js-tabs-wrapper js-component" data-component="tabs">
  <ul class="tabs-large nav-two">
      <li>
          <a class="active js-active js-tabs-link js-tabs-link-large" href="" data-runtime-template="_admin_users_create" data-content-id="0">Create</a>
      </li><li>
          <a class="js-tabs-link js-tabs-link-large" href="" data-runtime-template="_admin_users_update" data-content-id="1">Update</a>
      </li>
  </ul>

  <a class="tab active js-active js-tabs-link" href="" data-runtime-template="_admin_users_create" data-content-id="0">Create<span class="pull-right icon icon-arrow-down"></span></a>  
  <div class="tabs-content js-tabs-content">
    <div class="spinner"></div>
  </div>
  
  <a class="tab js-tabs-link" href="" data-runtime-template="_admin_users_update" data-content-id="1">Update<span class="pull-right icon icon-arrow-up"></span></a>
  <div class="hide tabs-content tabs-content-last js-tabs-content">
    <div class="spinner"></div>
  </div>

</div>
