<h1>Pictures</h1>

<div class="top-20 tabs js-component" data-component="tabs">
  <ul class="nav-two">
      <li>
          <a class="tab js-tab" href="" data-runtime-template="_admin_pics_upload" data-content-id="0">Upload</a>
      </li><li>
          <a class="tab active js-active js-tab" href="" data-runtime-template="_admin_pics_info" data-content-id="1">Info</a>
      </li>
  </ul>
  <div class="hide tab-content js-tab-content">
    <div class="spinner"></div>
  </div>

  <div class="tab-content js-tab-content">
    <div class="spinner"></div>
  </div>
  

</div>
