.sidebar {
  width: 60px;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  padding: 47px 0 0 8px;
  a {
    display: inline-block;
    margin-bottom: 10px;
  }
  .icon {
    font-size: 30px;
  }
}

@media (min-width: $screen-md) {
  .sidebar {
    width: 110px;
    .icon {
      font-size: 24px;
    }
  }
}