.marker {
    stroke: blue;
    stroke-opacity: .3;
    stroke-width: 2px;
    fill: blue;
    fill-opacity: .1;
    &.pulse {
      stroke: red;
      fill: red;      
    }
}


.line-pattern {
  stroke: red;
  stroke-width: 10px;
  stroke-opacity: .1;
}

svg {
  text {
    font-size: 20px;
  }
  .unit {
    fill: #FAFAFA;
    stroke: #aaaaaa;
    stroke-width: 1px;
  }
  .highlight {
    fill : url(#diagonalHatch);
  }
  .route {
    stroke: #333;
    fill: transparent;
    stroke-width: 2px;
    stroke-opacity: .7;
    &.shadow {
      stroke: #ccc;
      fill: transparent;
    }
  }
  .graph-tooltip {
    cursor: pointer;
  }
  .step {
    stroke-width: 2px;
    stroke-opacity: .3;
    stroke: blue;
  }
}

@media (min-width: $screen-s) {
  svg text {
    font-size: 30px;
  }
}

.code-route-wrapper {
  position: relative;
}

/*.code-google-map-tooltip-marker,
.code-route-tooltip-marker {*/
  .question {
    cursor: pointer;
    display: block;
    padding: 5px;
    background: $tooltip-background-color;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    color: $white;
    margin-right: 0;
    box-shadow: 0 0 9px 0px $tooltip-background-color;
    &:before {
      right: 85%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      z-index: -1;
      border-color: rgba(0, 0, 0, 0);
      border-right-color: $tooltip-background-color;
      border-width: 12px;
      margin-top: -12px;
    }
    &:hover {
      color: $white;
      box-shadow: 0 0 9px 0px $white;
    }
    &.left:before {
      left: 85%;
      border-color: rgba(0, 0, 0, 0);
      border-left-color: $tooltip-background-color;
    }
    @include transition(box-shadow 0.2s linear);
  }
  .icon-question {
    margin-right: 0;
  }
/*  @include transition(all 0.4s linear);*/
/*}*/


.code-zoom-map {

  font-family: $font-stack-header-light;
  stroke: #999;

  .cities {
    stroke: none;
  }

  .background {
    fill: #CFEBFC;
    stroke: #bdbdbd;
  }
  .japan-area {
    fill: $white;
    stroke-opacity: .3;
    &:hover {
      fill: #f7f7f7;
    }
  }
  .water-boundry {
    fill: $white;
    stroke: #666;
    stroke-width: 1px;
  }
  &.is-zoomed {
    .water-boundry {
      stroke-width: 0;
    }
    .japan-area {
      stroke-opacity: 1;
      &.is-zoomed {
        fill: #f7f7f7;
      }
    }
    .cities {
      display: none;
    }
    .water-boundry {
      stroke-width: 0;
    }
    .background {
      stroke-width: .5px;
    }
  }
  .city {
    fill: $black;
  }
  .line {
    stroke: $black;
    stroke-width: .5px;
  }
  .tokyo {
    fill: #ec1a29;
    .city {
      fill: #ec1a29;
    }
    .line {
      stroke: #ec1a29;
    }
  }

  .zoom-container {
    -webkit-transition: transform 300ms ease;
       -moz-transition: transform 300ms ease;
        -ms-transition: transform 300ms ease;
         -o-transition: transform 300ms ease;
            transition: transform 300ms ease;
  }

}